.s_h_sy_right {
	background-color: #3A4144;
	/*position: absolute;*/
	top: 50px;
	left: 230px;
	width: 1500px;
	height: 760px;
}

.s_h_sy_right_heard {
	background-color: #424B4F;
	width: 1500px;
	height: 20px;
	padding: 70px 0px 50px 250px;
}

.s_h_sy_right_heard_left a {
	color: #CFCFCF;
	text-decoration: none;
	font-size: 18px;
}

.s_h_sy_right_heard_left img {
	vertical-align: middle;
}

.s_h_sy_right_heard_left span {
	color: #CFCFCF;
	margin-left: 20px;
	margin-right: 20px;
}

.s_h_sy_right_heard_left p {
	color: #CFCFCF;
	display: inline-block;
	cursor: pointer;
}

.s_h_sy_right_caozuo {
	border: 1px solid #33393c;
	border-top: 2px solid #313639;
	background: #4b5357;
	color: #fff;
	width: 1490px;
	margin: 10px 0 0 10px;
	height: 20px;
	padding: 20px 0 50px 230px;
}

.s_h_sy_right_caozuo a input {
	width: 80px;
	height: 30px;
	margin-left: 10px;
	background-color: transparent;
	outline: 0;
	border: 1px solid #fff;
	color: white;
	cursor: pointer;
	opacity: .7;
}

.add {
	width: 110px;
	height: 50px;
	background-color: #888888;
	margin-left: -5;
	margin-top: -20;
	padding-top: 15px;
	text-align: center;
	font-weight: bold;
	float: left;
}

.addtext {
	width: 400px;
	height: 30px;
}

.addnumber {
	width: 200px;
	height: 30px;
	float: left;
}

.zt {
	outline: 0;
}

.ms {
	width: 110px;
	height: 50px;
	background-color: #666666;
	float: left;
	margin-left: -5;
	margin-top: -20;
	padding-top: 15px;
	text-align: center;
	font-weight: 500;
}

.s_h_sy_right_neirong {
	border: 1px solid #33393c;
	border-top: 2px solid #313639;
	background: #4b5357;
	color: white;
	width: 1490px;
	margin: 10px 0 0 10px;
	padding: 20px 0 20px 250px;
}

.s_h_sy_right_neirong table {
	margin-bottom: 20px;
}

.s_h_sy_right_neirong table tr {}

.s_h_sy_right_neirong table tr th {
	color: #b8c7ce;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.s_h_sy_right_neirong table tr td {
	vertical-align: middle;
	padding: 10px;
	color: #b8c7ce;
	text-align: center;
}

.s_h_sy_right_neirong table tr td select {
	float: left;
	width: 120px;
	height: 30px;
}

.s_h_sy_right_neirong table tr td select option {
	padding: 2px 10px;
}

.s_h_sy_right_neirong table tr td img {
	display: inline-block;
	width: 50px;
	height: 50px;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #4b5357;
	border: 1px solid #ddd;
	border-radius: 4px;
	vertical-align: middle;
	float: left;
}

.s_h_sy_right_neirong table tr td input {
	padding: 10px 2px;
}