
			.one {
				height: 70px;
				line-height: 100px;
				font-size: 30px;
				color: #414141;
				text-align: center;
			}
			
			.two {
				width: 142px;
				height: 37px;
				line-height: 37px;
				background: #d9d9d9;
				color: #000;
				text-align: center;
				display: block;
				float: right;
				margin: 10px 10px 0 0;
			}
			
			.three {
				height: 32px;
				line-height: 30px;
				font-weight: bolder;
				font-size: 16px;
				border-bottom: solid 1px #414141;
			}
			
			.four {
				width: 1000px;
				margin: 0px auto 0
			}
			
			.five {
				width: 70px;
				float: left;
			}
			
			.six {
				float: left;
				margin-right: 20px;
			}
			
			.seven {
				width: 260px;
				float: left;
				height: 125px;
				line-height: 30px;
				margin: 0px 25px 0 20px;
				border-right: solid 1px #83847e;
				padding-right: 15px;
				position: relative;
				top: -90px;
				left: 110px;
			}
			
			.color1 {
				height: 30px;
				color: #83847e;
				display: block;
				float: left;
			}
			
			.color2 {
				height: 30px;
				color: #414141;
				display: block;
				float: left;
			}
			
			.color3 {
				height: 30px;
				color: #414141;
				display: block;
				width: 80px;
			}
			
			.eieght {
				float: left;
				width: 180px;
				line-height: 20px;
				padding-top: 5px;
				color: #414141;
			}
			
			.nine {
				width: 550px;
				height: 125px;
				line-height: 30px;
				margin-top: 5px;
				float: left;
				top: 45px;
				position: relative;
				left: 10px;
			}
			
			.ten {
				width: 75px;
			}
			
			.elven {
				width: 220px;
				height: 35px;
				line-height: 35px;
				color: #414141;
				border: 0;
				display: block;
				border: solid 1px #b4b4b4;
				background: url(img/da_02.jpg) no-repeat right;
				cursor: pointer;
			}
			
			.zxc {
				position: relative;
				width: 220px;
				height: 35px;
				top: -30px;
				left: 80px;
				cursor: pointer;
			}
			
			.qwe {
				width: 405px;
				border-right: 1px solid #83847e;
				padding: 22px 0;
				line-height: 25px;
				margin-top: 20px;
			}
			
			.card {
				width: 960px;
				margin: 0 auto 30px 0;
				border-bottom: solid 1px #414141;
				padding-bottom: 30px;
				min-height: 220px;
			}
			
			.title {
				height: 30px;
				line-height: 30px;
				font-size: 16px;
				font-weight: bold;
				border-bottom: solid 1px #414141;
				overflow: hidden;
			}
			
			.title span {
				height: 30px;
				line-height: 30px;
				float: left;
				width: 120px;
				text-align: center;
				border-top: 1px solid #fff;
				cursor: pointer;
			}
			
			.title span.cur {
				border: 1px solid #414141;
				border-bottom: 1px solid #fff;
			}
			
			.card .tab {
				margin: 20px 0;
			}
			
			.card .tab span {
				display: inline-block;
				height: 24px;
				line-height: 24px;
				margin-right: 20px;
				cursor: pointer;
			}
			
			.card .tab span.cur {
				border-bottom: 2px solid #9c9c9c;
			}
			
			.gift_card div {
				width: 194px;
				height: 72px;
				line-height: 68px;
				border: 2px solid #9c9c9c;
				text-align: center;
				position: relative;
				cursor: pointer;
			}
			
			.gift_card div span {
				font-size: 18px;
				font-weight: bold;
			}
			
			.gift_card div.cur {
				border: 2px solid #414141;
			}
			
			.gift_card div.cur:after {
				content: '';
				width: 20px;
				height: 20px;
				background: url(../images/card_cur.png) no-repeat;
				background-size: 100% 100%;
				position: absolute;
				right: -2px;
				bottom: -2px;
			}
			
			.gift_add div {
				color: #b4b4b4;
				padding-bottom: 20px;
			}
			
			.gift_add div span {
				font-size: 14px;
				color: #888;
			}
			
			.gift_add div input {
				width: 100px;
				height: 36px;
				border: 1px solid #b4b4b4;
				text-align: center;
				text-indent: 0;
				font-size: 16px;
			}
			
			.gift_add div a {
				display: inline-block;
				width: 170px;
				text-align: center;
				height: 36px;
				line-height: 34px;
				font-size: 16px;
				color: #fff;
				border: 1px solid #414141;
				background-color: #414141;
				position: absolute;
				margin-left: 30px;
			}
			
			.conpon_list div.box {
				width: 194px;
				height: 72px;
				border: 2px solid #9c9c9c;
				text-align: center;
				position: relative;
				cursor: pointer;
				font-size: 14px;
				float: left;
				margin-right: 30px;
				margin-bottom: 20px;
			}
			
			.conpon_list div.box div {
				line-height: 44px;
				height: 44px;
				text-align: left;
				font-size: 24px;
				margin: 0 28px 0 28px;
			}
			
			.conpon_list div.box div span {
				font-size: 14px;
				float: right;
				max-width: 45px;
				overflow: hidden;
				height: 44px;
				text-align: right;
			}
			
			.conpon_list div.cur {
				border: 2px solid #414141;
			}
			
			.conpon_list div.cur:after {
				content: '';
				width: 20px;
				height: 20px;
				background: url(../images/card_cur.png) no-repeat;
				background-size: 100% 100%;
				position: absolute;
				right: -2px;
				bottom: -2px;
			}
			
			.conpon_add input {
				width: 300px;
				height: 36px;
				border: 1px solid #b4b4b4;
				text-align: left;
				font-size: 16px;
			}
			
			.conpon_add a {
				display: inline-block;
				width: 120px;
				text-align: center;
				height: 36px;
				line-height: 34px;
				font-size: 16px;
				color: #fff;
				border: 1px solid #414141;
				background-color: #414141;
				position: absolute;
				margin-left: 20px;
			}
			
			.pay_total {
				line-height: 30px;
				font-weight: bolder;
				border-bottom: solid 5px #414141;
				color: #414141;
			}
			
			.sub-tt {
				margin-top: 20px;
				margin-left: 380px;
				float: right;
			}
			/*搴曢儴寮�濮�*/
			
			.footer {
				width: 100%;
				clear: both;
				background: #414141;
				min-width: 1240px;
				color: #fff;
			
			}
			/*涓婂崐閮╠iv*/
			
			.footer_box {
				position: relative;
				width: 1240px;
				margin: 0 auto;
				height: 160px;
				padding-top: 50px;
			}
			
			.footer ul {
				margin-top: 0px;
				float: left;
				padding: 0 66px;
				text-align: center;
			}
			
			.footer ul p {
				margin-bottom: 20px;
				font-size: 14px;
				margin-top: 0px;
			}
			
			.footer ul li {
				list-style: none;
				line-height: 30px;
				color: #000000;
				text-align: left;
				margin-left: 1px;
			}
			
			.footer ul li a {
				color: #AFAFAF;
				font-size: 14px;
			}
			
			.f_weixin {
				background: url(img/weixin.png) no-repeat right;
			}
			
			.f_weibo {
				background: url(img/weibo.jpg) no-repeat right;
			}
			/*搴曢儴寮�濮�*/
			
			.footer {
				width: 100%;
				clear: both;
				background: #414141;
				min-width: 1240px;
				color: #fff;
			}
			/*涓婂崐閮╠iv*/
			
			.footer_box {
				position: relative;
				width: 1240px;
				margin: 0 auto;
				height: 160px;
				padding-top: 50px;
			}
			
			.footer ul {
				margin-top: 0px;
				float: left;
				padding: 0 66px;
				text-align: center;
			}
			
			.footer ul p {
				margin-bottom: 20px;
				font-size: 14px;
				margin-top: 0px;
			}
			
			.footer ul li {
				list-style: none;
				line-height: 30px;
				color: #000000;
				text-align: left;
				margin-left: 1px;
			}
			
			.footer ul li a {
				color: #AFAFAF;
				font-size: 14px;
				text-decoration: none;
			}
			
			.f_weixin {
				background: url(img/weixin.png) no-repeat right;
			}
			
			.f_weibo {
				background: url(img/weibo.jpg) no-repeat right;
			}
			
			.new_r {
				float: right;
			}
			
			.footer .new_r dt {
				float: left;
				margin-right: 25px;
				width: 102px;
				height: 101px;
				background: url(img/121.jpg);
				background-size: 100%;
			}
			
			.footer .new_r dd {
				float: left;
				color: #AFAFAF;
				font-size: 12px;
				line-height: 22px;
			}
			
			.footer .new_r dd h2 {
				font-size: 16px;
			}
			
			.footer .new_r dd div {
				padding-top: 11px;
			}
			
			.footer-yyzz {
				display: block !important;
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 240px;
				color: #FFFFFF;
				font-size: 12px;
				text-align: right;
			}
			
			.footer-yyzz a {
				margin-left: 15px;
				padding-left: 15px;
				background: url(img/z.png) no-repeat left center;
				background-size: auto 80%;
				font-size: 12px;
				color: #AFAFAF;
			}
			/*搴曢儴涓嬪崐閮ㄥ垎*/
			
			.foot-nav {
				width: 1240px;
				height: 58px;
				background: #414141;
				color: #AFAFAF;
				clear: both;
				text-align: right;
				margin: 0 auto;
				font-size: 12px;
			}
			
			.new_r {
				float: right;
			}
			
			.footer .new_r dt {
				float: left;
				margin-right: 25px;
				width: 102px;
				height: 101px;
				background: url(img/121.jpg);
				background-size: 100%;
			}
			
			.footer .new_r dd {
				float: left;
				color: #AFAFAF;
				font-size: 12px;
				line-height: 22px;
			}
			
			.footer .new_r dd h2 {
				font-size: 16px;
			}
			
			.footer .new_r dd div {
				padding-top: 11px;
			}
			
			.footer-yyzz {
				display: block !important;
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 240px;
				color: #FFFFFF;
				font-size: 12px;
				text-align: right;
			}
			
			.footer-yyzz a {
				margin-left: 15px;
				padding-left: 15px;
				background: url(img/z.png) no-repeat left center;
				background-size: auto 80%;
				font-size: 12px;
				color: #AFAFAF;
				text-decoration: none;
			}
			/*搴曢儴涓嬪崐閮ㄥ垎*/
			
			.foot-nav {
				width: 1240px;
				height: 58px;
				background: #414141;
				color: #AFAFAF;
				clear: both;
				text-align: right;
				margin: 0 auto;
				font-size: 12px;
			}
			/*瀹㈡湇*/
			
			.mes_content {
				width: 115px;
				height: 120px;
				position: fixed;
				bottom: 55px;
				right: 50px;
			}
			
			.mes_icon {
				width: 102px;
				height: 120px;
				position: relative;
				background: #FFFFFF;
				border: 1px solid #dcdcdc;
				border-radius: 5px;
			}
			
			#zhichiBtnBox {
				position: fixed;
				z-index: 999;
				box-sizing: content-box;
				height: 45px;
				bottom: 100px;
				width: 45px;
				right: 5px;
				background: #969696;
				border-radius: 5px;
			}
			
			#zhichiBtn {
				text-decoration: none;
				outline: none;
				font-family: Microsoft Yahei, Arial, Helvetica;
				color: #fff;
				font-size: 16px;
				display: inline-block;
				margin: 0px;
				padding: 0px;
				border: none;
				float: none;
			}
			
			#zhichiBtn img {
				vertical-align: middle;
				border: none;
				float: none;
				position: static;
				margin-left: 0px;
				width: 42px;
				height: 45px;
			}
			
			.mes_icon>div {
				text-align: center;
				font-size: 12px;
			}
			/*杈规鏃佽竟鐨勫皬绠ご*/
			
			.tel_sj {
				position: absolute;
				right: -9px;
				top: 45px;
			}
			
			.tel_txt {
				color: #8d8d8d;
				font-size: 12px;
				background: url(img/tel.svg) no-repeat -16px -9px;
				background-size: 66px;
				line-height: 25px;
				margin: 0px;
				margin-top: 8px;
				padding-left: 11px;
				letter-spacing: 1px;
			}
			
			.tel_phone {
				color: #414141;
				font-size: 12px;
				margin: 0px;
			}
			/*鐧借壊鐩掑瓙鐨勫疄绾�*/
			
			.tel_line {
				width: 86px;
				border-top: 1px solid #dfdfdf;
				margin: 0px auto;
				margin-top: 12px;
			}
			/*绾㈣壊鎸夐挳鍦ㄧ嚎瀹㈡湇*/
			
			.zxkf_txt {
				background: #969696;
				width: 86px;
				height: 28px;
				color: #FFFFFF;
				line-height: 28px;
				border-radius: 3px;
				margin: 0px auto;
				margin-top: 8px;
				display: block;
				letter-spacing: 1px;
			}
			
			.zxkf_txt>a {
				color: #FFFFFF;
			}
			/*浜岀淮鐮佺洅瀛�*/
			
			#ewmBox {
				position: fixed;
				z-index: 999;
				box-sizing: content-box;
				height: 45px;
				bottom: 155px;
				width: 45px;
				right: 5px;
				background: #969696;
				border-radius: 5px;
			}
			
			#ewm {
				text-decoration: none;
				outline: none;
				font-family: Microsoft Yahei, Arial, Helvetica;
				color: #fff;
				font-size: 16px;
				display: inline-block;
				margin: 0px;
				padding: 0px;
				border: none;
				float: none;
			}
			
			#ewm img {
				margin-left: 5px;
				width: 35px;
				height: 45px;
			}
			
			.ewm_content {
				width: 140px;
				height: 206px;
				position: fixed;
				bottom: 41px;
				right: 57px;
				display: none;
				background: url(img/kk.png);
			}